# Proprietário padrão do repositório
* @carloskk07

# Áreas críticas do site
/.github/ @carloskk07
/CNAME @carloskk07
/index.html @carloskk07
/robots.txt @carloskk07
/sitemap.xml @carloskk07
/ebook/ @carloskk07
